<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.shop.member.MemberMapper">
	<select id="loginCheck" parameterType="com.spring.shop.member.MemberVO" resultType="com.spring.shop.member.MemberVO">
		select * from member_info 
		where mi_id = #{mi_id} and mi_pw = #{mi_pw}
	</select>
	
	<insert id="signUp" parameterType="com.spring.shop.member.MemberVO">
		insert into member_info(mi_no, mi_id, mi_pw, mi_mobile, mi_email, mi_gender) 
		values (nextval('seq_mi_no'), #{mi_id}, #{mi_pw}, #{mi_mobile}, #{mi_email}, #{mi_gender})
	</insert>
	
	<update id="edit" parameterType="com.spring.shop.member.MemberVO">
		update member_info set mi_pw = #{mi_pw}, mi_mobile = #{mi_mobile}, mi_email = #{mi_email}
		where mi_no = #{mi_no}
	</update>
	
	<delete id="signOut" parameterType="int">
		delete from member_info where mi_no = #{mi_no}
	</delete>
	
	<select id="checkId" resultType="int" parameterType="string">
		select count(*) from member_info where mi_id = #{mi_id}
	</select>
</mapper>